* {
  font-family: system-ui;
}

h3 {
  font-size: 20px;
  margin-left: 40px;
}
.contact_info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact,
.contact_form {
  padding: 5px;
}
.contact {
  margin-top: 75px;
  width: 810px;
}
.contact_form form {
  display: flex;
  flex-direction: column;
}
.contact_form input,
.contact_form textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: -2px;
  margin-bottom: 16px;
  margin-left: 31px;
}
input[type="submit"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e652d;
  color: rgb(234, 230, 230);
  border: 1px;
  border-color: #a49f9f;
  border-radius: 6px;
  cursor: pointer;
  max-width: 134px;
  margin-top: 16px;
}
input[type="submit"]:hover {
  background-color: #2b8e40;
  color: #e3e3e3;
}
